#nextPrevDiv{
    display: flex;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;
    z-index: 1000;
    left: 0;
    /* background: rgba(31, 31, 31, 0.87); */
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#nextPrevDiv a{
   text-decoration: none;
}

#prevButton{
    flex: 1;
    border-radius: 0;
    background: rgb(31, 31, 31);
    color: white;
}

#nextButton{
    flex: 1;
    border-radius: 0;
    background: rgb(31, 31, 31);

    color: white;
}