body,html{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: rgb(255, 255, 255);
  
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h5{
  padding-bottom: 10px;
  font-weight: bold !important;
  text-transform: uppercase;
  font-size: 18px !important;
  color: green;
  
 

}

h6{
  font-style: italic;
  
}

strong{
  padding-bottom: 20px;
  
}

#card{
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px !important;

}


#card .card-body{
  padding: 20px;
  background-color: rgb(242, 242, 242) !important;

}
#card img{
  height: auto;
  width: 100%;
}

#introDiv{
  color: #000;
  text-decoration: none !important;
}